* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    font-size: 19px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}

#main-container {
    width: 750px;
    margin: 3rem auto;
}

.logo {
    height: 2rem;
    opacity: 70%;
}

.logo:hover {
    opacity: 100%;
}

#profile-photo {
    height: 11rem;
    border-radius: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
}

#links {
    list-style: none;
    display: flex;
}

#links * {
    margin-right: 0.75rem;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem 0;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 300;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    margin: 1.5rem 0 0.5rem 0;
}

#info {
    line-height: 30px;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
}

#name {
    font-size: 2.1rem;
}

#major,
#email {
    font-size: 1rem;
    font-weight: 200;
}

#email {
    text-decoration: none;
    color: cornflowerblue;
    font-family: "Courier New";
}

#email:hover {
    border-bottom: 1px solid cornflowerblue;
}

*::selection {
    color: white;
    background-color: cornflowerblue;
}

.main a,
a:visited {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid cornflowerblue;
}

.main a:hover {
    color: cornflowerblue;
    border-bottom: 1px dashed cornflowerblue;
}

/* Experience */

.experience li {
    margin-left: 1rem;
}

.activity-name {
    font-size: 1.1rem;
    font-weight: 400;
}

.activity-duration {
    margin-top: 0.25rem;
    font-size: 0.95rem;
}

.activity-place {
    margin-bottom: 0.25rem;
    font-style: italic;
    font-size: .9rem;
}

/* Awards */

.awards li {
    margin-left: 1rem;
}

.awards li div {
    margin-bottom: 0.75rem;
}

.award-name {
    font-size: 1.1rem;
    font-weight: 400;
}

.award-date {
    margin-top: 0.25rem;
    font-size: 0.95rem;
}

.award-by {
    margin-bottom: 0.25rem;
    font-style: italic;
    font-size: .9rem;
}