* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    font-size: 19px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}

#main-container {
    width: 750px;
    margin: 60px auto;
}

.logo {
    height: 40px;
    opacity: 70%;
}

.logo:hover {
    opacity: 100%;
}

#profile-photo {
    height: 220px;
    border-radius: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
}

#links {
    list-style: none;
    display: flex;
}

#links * {
    margin-right: 15px;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 300;
    font-size: 25px;
    padding-bottom: 10px;
    margin: 30px 0 10px 0;
}

#info {
    line-height: 30px;
    margin: 30px 0
}

#name {
    font-size: 40px;
}

#major,
#email {
    font-size: 20px;
    font-weight: 200;
}

#email {
    text-decoration: none;
    color: cornflowerblue;
    font-family: "Courier New";
}

#email:hover {
    border-bottom: 1px solid cornflowerblue;
}

*::selection {
    color: white;
    background-color: cornflowerblue;
}

.main a,
a:visited {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid cornflowerblue;
}

.main a:hover {
    color: cornflowerblue;
    border-bottom: 1px dashed cornflowerblue;
}

/* Experience */

.experience li {
    margin-left: 20px;
}

.activity-name {
    font-size: 20px;
    font-weight: 400;
}

.activity-duration {
    margin-top: 5px;
}

.activity-place {
    margin-bottom: 5px;
    font-style: italic;
    font-size: 18px;
}

/* Awards */

.awards li {
    margin-left: 20px;
}

.awards li div {
    margin-bottom: 15px;
}

.award-name {
    font-size: 20px;
    font-weight: 400;
}

.award-date {
    margin-top: 5px;
}

.award-by {
    margin-bottom: 5px;
    font-style: italic;
    font-size: 18px;
}