.post {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

    &__date {
        font-size: 1.4rem;
        font-style: italic;
        color: rgb(75, 75, 75);
    }
    
    p {
        margin-top: 1.5rem;        
    }
}
